html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body(onload="main()")
	include ../partials/header

	div(class='main', id='main', ids=matchIDs)
		
		h1(class="navBar")
			|
			if beforeAndAfter.before
				a(class="dateNav", href='/date/'+beforeAndAfter.before) Previous Day 
			| &nbsp  #{date} &nbsp
			if beforeAndAfter.after
				a(class="dateNav", href='/date/'+beforeAndAfter.after) Next Day 
			div(class="Matches")
				|
				each key in matchIDs
					a(class="matchLink", href='/match/'+key.matchid) #{matches[key.matchid].winner} vs. #{matches[key.matchid].loser} @ #{matches[key.matchid].tournamentname} 
					br
	include ../partials/footer


