html
	head
		title CS Reference
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body(onload="main()")
	include ../partials/header

	div(class='main', id='main', ids=matchIDs)
		
		h1(class="navBar")
			|
			if beforeAndAfter.before
				a(class="dateNav", href='/date/'+beforeAndAfter.before) Previous Day 
			| &nbsp  #{date} &nbsp
			if beforeAndAfter.after
				a(class="dateNav", href='/date/'+beforeAndAfter.after) Next Day 
		each key in matchIDs
			h1(id=key.matchid+"Container", class="MatchChart")
				|
				a(class="matchLink", href='/match/'+key.matchid) #{matches[key.matchid].winner} vs. #{matches[key.matchid].loser} @ #{matches[key.matchid].tournamentname} 
				div(class= "ChartText" id=key.matchid.toString()+"ChartText") Not Loading or Missing Data? Data may be invalid (Demo Issues caused by Tech Pauses for example, requiring manual fixing) or not yet modelled
				div(class="LegendContainer", id="LegendContainer"+key.matchid)
				|
				div(class="Chart", id=key.matchid.toString(), winner=matches[key.matchid].winner) 
				
				
					
			br
	script(src="/makeXYchartMap.js")
	include ../partials/footer


