html
	head
		title CSGO Map Win Probabilities
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Bebas+Neue")
		script(src="https://cdn.amcharts.com/lib/5/index.js")
		script(src="https://cdn.amcharts.com/lib/5/xy.js")
		style 	
			include ../style/style.css
body
	include ../partials/header

	div(class='main', id='main')
		
		h1 
			|
			if beforeAndAfter.before
				a(href='/date/'+beforeAndAfter.before) Previous Day 
			| #{date}
			if beforeAndAfter.after
				a(href='/date/'+beforeAndAfter.after)  Next Day 
		each val, key in matchData
			h1(name=key, class="MatchChart")
				|
				a(href='/matches/'+key) #{matches[key].winner} vs. #{matches[key].loser} @ #{matches[key].tournamentname} 
				div(class= "ChartText" id=key.toString()+"ChartText") Not Loading or Missing Map? Map data may be invalid (Demo Issues caused by Tech Pauses for example, requiring manual fixing) or not yet modelled
				div(class="LegendContainer", id="LegendContainer"+key)
				|
				div(class="Chart", id=key.toString(), data!=val, winner=matches[key].winner) 
				
				
					
			br
	script(src="/makeXYchartMap.js", ids=matchIDs)
	include ../partials/footer


